header.mainHeader{

  @extend .clearfix;

  background-color: $headerBackgroundColor;
  padding: 10px;

  h2{
    float: left;
    margin-bottom: 0;
    color: #fff;
    font-family: $headingFont;
  }

  .secondary{

    float: left;
    margin-left: 10px;

    h5{
      margin-bottom: 2px;
      color: #fff;
      font-family: $headingFont;
    }

  }

  .hashTag{
    float: right;
    color: #fff;
    text-align: right;
    font-weight: 100;
    p {
      font-size: 1.4em;
      margin: 3px 0 0 0;
    }
   }

}