/*********************************************
 * TITLE SLIDE NAVIGATION CONTROLS
 *********************************************/
.titleSlide {
  .reveal .controls div.navigate-left,
  .reveal .controls div.navigate-left.enabled {
    border-right-color: $linkColor;
  }

  .reveal .controls div.navigate-right,
  .reveal .controls div.navigate-right.enabled {
    border-left-color: $linkColor;
  }

  .reveal .controls div.navigate-up,
  .reveal .controls div.navigate-up.enabled {
    border-bottom-color: $linkColor;
  }

  .reveal .controls div.navigate-down,
  .reveal .controls div.navigate-down.enabled {
    border-top-color: $linkColor;
  }

  .reveal .controls div.navigate-left.enabled:hover {
    border-right-color: $linkColorHover;
  }

  .reveal .controls div.navigate-right.enabled:hover {
    border-left-color: $linkColorHover;
  }

  .reveal .controls div.navigate-up.enabled:hover {
    border-bottom-color: $linkColorHover;
  }

  .reveal .controls div.navigate-down.enabled:hover {
    border-top-color: $linkColorHover;
  }
}/*********************************************
 * TITLE SLIDE NAVIGATION CONTROLS
 *********************************************/
  .reveal .controls div.navigate-left,
  .reveal .controls div.navigate-left.enabled {
    border-right-color: $linkColorDark;
  }

  .reveal .controls div.navigate-right,
  .reveal .controls div.navigate-right.enabled {
    border-left-color: $linkColorDark;
  }

  .reveal .controls div.navigate-up,
  .reveal .controls div.navigate-up.enabled {
    border-bottom-color: $linkColorDark;
  }

  .reveal .controls div.navigate-down,
  .reveal .controls div.navigate-down.enabled {
    border-top-color: $linkColorDark;
  }

  .reveal .controls div.navigate-left.enabled:hover {
    border-right-color: $linkColorDarkHover;
  }

  .reveal .controls div.navigate-right.enabled:hover {
    border-left-color: $linkColorDarkHover;
  }

  .reveal .controls div.navigate-up.enabled:hover {
    border-bottom-color: $linkColorDarkHover;
  }

  .reveal .controls div.navigate-down.enabled:hover {
    border-top-color: $linkColorDarkHover;
  }
