// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #2b2b2b;

$headerBackgroundColor : #232A32;

// Primary/body text
$mainFont: 'Museo Slab', Serif;
$mainFontSize: 36px;
$mainColor: #eee;

// Headings
$headingMargin: 0 0 20px 0;
$headingFont: 'brandon-grotesque', sans-serif;
$headingColor: #232A32;
$headingLineHeight: 0.9em;
$headingLetterSpacing: 0.02em;
$headingTextTransform: uppercase;
$headingTextShadow: 0;
$heading1TextShadow: none;

// Links and actions
$linkColor: #F2B348;
$linkColorHover: lighten( $linkColor, 20% );
$linkColorDark: $headingColor;
$linkColorDarkHover: lighten( $linkColorDark, 5% );

// Text selection
$selectionBackgroundColor: #F2B348;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}