.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: $headingMargin;
  color: $headingColor;

  font-family: $mainFont;
  line-height: $headingLineHeight;
  letter-spacing: $headingLetterSpacing;

  text-transform: none;
  text-shadow: $headingTextShadow;

  font-weight: 100;

  text-align: left;
}

.reveal h1 {
  text-shadow: $heading1TextShadow;
}

.reveal{
  font-family: $mainFont;
  .slides{
    text-align: left;
    font-size: 1.6em;
  }
}